.rightbody {
  padding: 10px;
}

.rightList {
  padding: 10px 15px;
  border-radius: 10px;
}

.rightIcons > .MuiSvgIcon-root {
  color: gray;
  margin-right: 5px;
}

.rightList:hover {
  background: #e4e6e9;
  cursor: pointer;
}

.rightList > .MuiAvatar-root {
  margin-right: 9px;
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.rightList > .MuiSvgIcon-root {
  margin-right: 9px;
}

.rightList h3 {
  font-weight: 500;
  font-size: 1.1rem;
}
